/* -- Page style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* -- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #669BBC
}

#heading-2{ color: #780000
}

/*---- Body styles*/

.game-area {
    background-color: #FDF0D5;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 500px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.number-box {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.number-box span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

#score{
    display: inline-block;
    padding: 25px;
    color: green;
    font-weight: bold;
}
