/* -- Page style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* -- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #669BBC
}

#heading-2{ color: #780000
}

/*---- Body styles*/

.game-area {
    background-color: #FDF0D5;
    box-sizing: border-box;
    border-radius: 10%;
    width: 85%;
    height: 100%;
    max-height: 1200px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.win-lose-block {
    font-family: "Lato", 'sans-serif';
    font-weight: 400;
    color: #669BBC;
    font-size: 1.4rem;
}
.display-block {
    font-family: "Lato", 'sans-serif';
    font-weight: 400;
    color: #780000;
    font-size: 1.2rem;
}

.result-block {
    font-family: "Lato", 'sans-serif';
    font-weight: 400;
    color: #445361;
    font-size: 1.2rem;

}
/* --------- Buttons */

.button {
    width: 220px;
    height: 60px;
    font-family: "Montserrat", 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 20%;
    background-color: white;
    border: 10px solid;
    width: 120px;
    height: 120px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after{
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}
.btn--yellow {
    border-color: yellow;
    color: yellow;
}

.btn--yellow:active,
.btn--yellow:hover {
    background-color: darkcyan;
    color: white;
}

/* button reset */

.refresh {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 30%;
    font-size: 3rem;
    border: 9px solid;
    cursor: pointer;
    transition: 100ms;
    
}

.refresh {
    border-color: #3f3f3f;
    color: darkgray;
}

.refresh:active,
.refresh:hover {
    background-color: white;
    color: gray;
}

i {
    color: #3f3f3f;
}


